@font-face {
  font-family: Exotic350BT-Bold;
  src: url(../src/utilities/fonts/Exotic350BT-Bold.eot); /* IE9 Compat Modes */
  src: url(../src/utilities/fonts/Exotic350BT-Bold.eot?iefix)
      format("embedded-opentype") /* IE6-IE8 */,
    url(../src/utilities/fonts/Exotic350BT-Bold.woff) format("woff")
      /* Super Modern Browsers */,
    url(../src/utilities/fonts/Exotic350BT-Bold.woff2) format("woff2")
      /* Pretty Modern Browsers */,
    url(../src/utilities/fonts/Exotic350BT-Bold.ttf) format("truetype"); /* Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Lato, "Segoe UI", sans-serif;
  box-sizing: border-box;
}
html,
body,
div,
img {
  vertical-align: baseline;
}
body {
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
  line-height: 1;
}
.container {
  /* position: relative; */
  max-width: 1500px;
}

/* =======================================================================

font-family        :      Segoe UI

Background color   :      White

Buttons color      :      #013f1d

Headers color      :      #1dbf73




===========================================================================*/

/* ========================================================================

                                    UTILITIES

===========================================================================*/

/* ==== BUTTON SECTION === */
.btn {
  /* Specifies the properties of all buttons including header button */
  text-transform: uppercase;

  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
}
.btn-for-header {
  /* Specifies the size of the header button */
  font-size: 1.2em;
  border: none;
  width: 150px;
  height: 50px;
}
.btn-for-general {
  /* Specifies the size of the button excluding header button */
  font-size: 1em;
  width: 150px;
  height: 40px;
  /* box-shadow: 0.1px 0.1px 20px rgba(130, 133, 131, 0.233); */
}
.btn-with-bg {
  /* For the buttons with background-color 'green' */
  border: none;
  background: #0b993a;
  color: white;
}
.btns {
  cursor: pointer;
}
.btn-with-bg:hover {
  /* For the buttons with background-color 'green' onhover */
  background: rgba(7, 126, 47, 0.855);
}
.btn-without-bg {
  /* For the buttons without background-color 'green' */
  border: 2px solid #0b993a;
  background-color: white;
  color: #0b993a;
}
.btn-without-bg:hover {
  /* For the buttons without background-color 'green' onhover */
  background-color: #0b993a;
  color: white;
}
.see-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* ==== TITLES SECTION === */
.section-title-div {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
  cursor: default;
}
.section-title {
  font-size: 260px;
  font-weight: 900;
  color: rgba(11, 153, 58, 0.6);
}
.left-section-title {
  /* For the titles aligned on the left */
  transform: translateX(-50px);
}
.about-section-title {
  transform: translateX(55px);
}
.about-section-title-div {
  display: flex;
  justify-content: flex-end;
  cursor: default;
}

/* ==== IMAGE SECTION === */

img {
  width: 250px;
  height: 250px;
}

/* ==== HAMBURGER SECTION === */
.hamburger {
  display: block;
}

/* ================================= HEADER SECTION ================================ */

header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(./utilities/zichygraphs/neon\ bg.jpg) no-repeat center/cover;
}

header .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 70px;
  width: 450px;
  height: 350px;
}

header .intro p {
  color: white;
  font-size: 3.4rem;
  font-weight: 300;
}

header .intro p .intro-span {
  color: #0fd952;
}

/* ================================= NAVBAR SECTION ================================ */

.navbar {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  z-index: 2;
  margin-top: 10px;
}

.navbar .logo-div {
  margin-left: 70px;

  margin-top: -16px;
}
.navbar .logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.navbar .nav-links-div {
  background-color: rgba(40, 44, 52, 0.884);
  width: 830px;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.navbar .nav-links {
  display: flex;
  width: 700px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  margin-right: 70px;
}

.navbar .nav-links .link {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.navbarfixed .nav-links .link:hover,
.navbar .nav-links .link:hover {
  color: #a5e9bd;
}

.navbarfixed .nav-links .link:visited {
  background-color: #993f0b !important;
}

.navbarfixed {
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 5;
  box-shadow: 0.1px 0.1px 10px rgba(11, 153, 58, 0.1);
  padding-right: 70px;
  transition: background 0.3s linear;
}

.navbarfixed .logo-div {
  margin-left: 70px;

  color: rgba(11, 153, 58, 0.747);
  font-size: 40px;
  width: 150px;
  object-fit: contain;
  font-family: Exotic350BT-Bold, "Segoe UI", sans-serif;
}

.navbarfixed .nav-links {
  right: 0;
  display: flex;
  width: 700px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.navbarfixed .nav-links .link {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: bold;
  color: #0b993a;
  text-transform: uppercase;
  cursor: pointer;
}
.navbarfixed .nav-links .link:hover {
  color: #09722c;
}
.favCount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: smaller;
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 24px;
  bottom: 2px;
}

.navbarfixed .nav-links-fav {
  right: 0;
  display: flex;
  width: 400px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

/* ================================= FILTER SECTION ================================ */
.filter {
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  width: 100%;
}
.filter-btn {
  display: flex;
  width: 70%;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 3px;
  box-shadow: 0.1px 0.1px 10px rgba(147, 150, 148, 0.1);
}
.filter-btn button {
  display: flex;
  border: none;
  background: none !important;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: bold;
  color: #0b993a;
  cursor: pointer;
  text-transform: capitalize;
}

.filter-btn button:hover {
  height: 20px;
  border-bottom: 2px solid #0b993a;
}

/* ================================= WORKS SECTION ================================ */

.works {
  width: 100%;
  min-height: 300px;
}

.works-gallery {
  padding: 5px;
  /* padding-top: 370px; */
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: 350px;
  justify-content: center;
  align-items: center;
}

.works-div {
  margin: 10px;
  width: 250px;
  height: 320px;
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  box-shadow: 0.1px 0.1px 10px rgba(147, 150, 148, 0.1);
  cursor: default;
}

.works-img {
  width: 100%;
  /* max-width: 350;
  height: 250px; */
  border-radius: 3px 3px 0 0;
}

.works-div > div {
  position: relative;
}

.works-div .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 3px 3px 0 0;
  top: 0;
  width: 250px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.596);
  opacity: 0;
  transition: all 0.3s ease-in;
  cursor: zoom-in;
}

.works .work-info {
  /* background-color: rgb(243, 241, 241); */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works .work-info p {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 600;
}

.work-info .category-div div {
  width: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.726);
  transition: all 0.3s ease-in;
}

.works .works-div:hover .work-info .category-div div {
  width: 100%;
}
.works .works-div .overlay:hover {
  /* Increases the opacity of overlay to 1, thereby is visible on the works image */
  opacity: 1;
}

/* ================================= ABOUT SECTION ================================ */
.about-div {
  display: flex;
  background-color: #eff3f0;
  border: 0px solid #00264173;
  border-left: 100px solid white;
  border-right: 100px solid white;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  /* transform: translateY(-70px); */
}

.about-div article {
  border-left: none;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
}
.about-div article p {
  margin: 70px;
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  line-height: 1.8rem;
}
.my-photo-smscrn {
  display: none;
}
.about-div .photo-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.about-div .photo-div .my-photo {
  transform: translateX(-95px);
  width: 300px;
  max-width: 300px;
  height: 300px;
  background-color: #ffffff;
  border: 1px solid #ffffff59;
  /* border-radius: 50%; */
  /* box-shadow: 0.1px 0.1px 10px rgba(11, 153, 58, 0.233); */
}

/* ================================= CONTACT SECTION ================================ */

.contact-container2 {
  display: flex;
  height: 70vh;
  width: 100vw;
  margin-bottom: 70px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.575);
}

.contact-div {
  background: url(./utilities/zichygraphs/butterfly.jpg) no-repeat center/cover;
  display: flex;
  width: 50%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
}

.contact-bg-para p {
  font-family: Exotic350BT-Bold, "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 5rem !important;
}

.contact-bg-para article {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.contact-bg-para article .social-icon {
  margin: 0 10px;
}

.contact-img {
  height: 400px;
  width: 800px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contact-page {
  width: 50%;
  /* border-radius: 3px; */
  border: 3px solid #c9d4d5;
  border-left: 0;
  border-right: 0;

  background-color: white;
}
.contact-page input,
textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #dfdde0;
  width: "33ch";
}
.contact-close-btn {
  display: none;
}
.messageContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.37);
  z-index: 2000;
}
.messageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
  background: white;
  text-align: center;
  box-shadow: 0.1px 0.1px 10px rgba(3, 49, 18, 0.322);
}
.messageBtn {
  height: 30px;
  width: 50px;
  border: none;
  color: white;
  background-color: rgb(34, 72, 238);
  box-shadow: -1px 1px 1px rgba(46, 58, 50, 0.692);
  margin-top: 15px;
  cursor: pointer;
}
.messageBtn:active {
  border: 5px solid rgba(93, 117, 224, 0.712);
}

/* ================================= FOOTER SECTION ================================ */
footer {
  width: 100%;
  height: 70px;
  margin: 0;
  align-items: center;
  display: flex;
  border-top: 0.1px solid #9b9e9c;
}
footer > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  color: #9b9e9c;
}

/* ===================================================================================== 


                                      MEDIA QUERIES 


======================================================================================== */
@media screen and (max-width: 800px) {
  /* HEADER */
  header {
    display: flex;
    width: 100%;
    height: 80vh;
  }

  /* Hamburger menu: some stylings are in 'HamburgerMenu.jsx' component */
  .hamburger {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in;
  }

  .hamburger .ham-logo-div {
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-size: 2em;

    transition: all 0.3s linear;
  }

  .hamburger .ham-logo {
    object-fit: contain;
    font-family: Exotic350BT-Bold, "Segoe UI", sans-serif;
  }

  .hamburger .ham-div {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 92vh;
    overflow-y: hidden;
    transition: all 0.3s linear;
  }

  .hamburger .toggleBtn {
    font-size: 0.9em !important;
    cursor: pointer;
  }

  .hamburger .ham-div li {
    list-style: none;
    margin: 30px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: lato, "Segoe UI", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  .hamburger .ham-div article {
    display: flex;
    height: fit-content;
    justify-content: center;
    width: 100%;
  }

  .hamburger .ham-div article .social-icon {
    margin: 5px;
    height: 5px;
    width: 5px;
  }

  /* TITLES */
  .section-title-div {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    background-color: none;
  }

  .section-title {
    font-size: 60px;
    font-weight: 600;
    color: rgba(11, 153, 58, 0.6);
  }
  .left-section-title {
    /* For the titles aligned on the left */
    transform: none;
  }

  .about-section-title {
    transform: none;
  }
  .about-section-title-div {
    display: flex;
    justify-content: center;
    background-color: none;
    margin-top: 40px;
  }

  .underline {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
  }
  .underline div {
    height: 5px;
    width: 70px;
    background-color: rgba(11, 153, 58, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* CONTACT */
  .contact-container2 {
    display: flex;
    height: 45vh;
    width: 100vw;
    margin-bottom: 70px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.575);
  }

  .contact-div {
    margin-top: 70px;
    display: none;
  }
  .contact-container {
    display: block;
  }
  .contact-bg-para p {
    display: none;
  }
  .contact-page {
    margin: 0;
    width: 100%;
  }

  /* FILTER */
  .filter {
    display: flex;
    justify-content: center;
    transform: none;
    width: 100%;
  }

  /* ABOUT */
  .about-div {
    border: none;
    border-radius: 0;
    flex-wrap: wrap;
    width: 100vw;
    height: 40vh;
    margin-bottom: 70px;
    background: none;
  }

  .about-div article {
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    border-radius: 0;
  }
  .about-div article p {
    margin: 50px 40px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    color: white;
    line-height: 1.7rem;
  }

  .my-photo-smscrn {
    display: initial;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(50%);
    border: 5px solid rgba(0, 0, 0, 0.479);
  }
  .about-div .photo-div {
    background: none;
    display: none;
  }
}

@media screen and (max-width: 400px) {
  /* BUTTONS */
  .btn {
    /* Specifies the properties of all buttons including header button */
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn-for-header {
    /* Specifies the size of the header button */
    border: none;
    width: 140px;
    height: 40px;
  }
  .btn-for-general {
    /* Specifies the size of the button excluding header button */
    width: 150px;
    height: 40px;
  }

  /* HEADER */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
  }
  header .intro {
    background-color: rgba(0, 0, 0, 0.575);
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: 80vh;
  }
  header .intro p {
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 40px;
  }

  /* HAMBURGER */
  .hamburger .ham-logo-div {
    height: 5vh;
    padding: 10px;
    font-size: 1.1em;
    transition: all 0.3s linear;
  }

  .hamburger .ham-div li {
    font-size: 1.1em;
  }

  .hamburger .toggleBtn {
    font-size: 0.85em !important;
  }

  /* FILTERS */
  .filter {
    display: none;
    margin-top: 130px;
    width: 100%;
  }
  .filter-btn {
    padding: 0 5px;
  }
  .filter-btn button {
    border: none !important;
    background: none !important;
    height: 40px;
    font-size: 0.6rem;
  }

  /* WORKS */
  .works-gallery {
    padding: 0;
    padding-top: 140px;
  }

  .works-div {
    position: relative;
    width: 100%;
    margin: 10px;
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid rgba(231, 229, 229, 0.795);
  }

  .works-img {
    width: 100%;
    max-width: 350px;
    height: 250px;
    border-radius: 3px 3px 0 0;
  }

  .works .work-info {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .works .work-info p {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .works .work-info .category-div div {
    width: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.726);
  }

  .works-div:hover .overlay {
    /* Increases the opacity of overlay to 1, thereby is visible on the works image */
    opacity: 0;
  }

  /* ABOUT */
  .about-div {
    border: 0;
    padding-top: 120px;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
    margin-bottom: 70px;
  }

  .about-div article {
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  .about-div article p {
    margin: 30px 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    color: white;
    line-height: 1.7rem;
  }

  .my-photo-smscrn {
    display: initial;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(50%);
    border: 5px solid rgba(0, 0, 0, 0.479);
  }
  .about-div .photo-div {
    background: none;
    display: none;
  }

  /* CONTACT */
  .contact-div {
    display: none;
  }
  .contact-container {
    display: block;
  }
  .contact-bg-para p {
    display: none;
  }
  .contact-page {
    margin: 0;
    width: 100%;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
