@font-face {
  font-family: Exotic350BT-Bold;
  src: url(../src/utilities/fonts/Exotic350BT-Bold.eot); /* IE9 Compat Modes */
  src: url(../src/utilities/fonts/Exotic350BT-Bold.eot?iefix)
      format("embedded-opentype") /* IE6-IE8 */,
    url(../src/utilities/fonts/Exotic350BT-Bold.woff) format("woff")
      /* Super Modern Browsers */,
    url(../src/utilities/fonts/Exotic350BT-Bold.woff2) format("woff2")
      /* Pretty Modern Browsers */,
    url(../src/utilities/fonts/Exotic350BT-Bold.ttf) format("truetype"); /* Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Lato, "Segoe UI", sans-serif;
}
body {
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

/* =======================================================================

font-family        :      Segoe UI

Background color   :      White

Buttons color      :      #013f1d

Headers color      :      #1dbf73




===========================================================================*/

/* ========================================================================

                                    UTILITIES

===========================================================================*/

/* ==== BUTTON SECTION === */
.btn {
  /* Specifies the properties of all buttons including header button */
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 3px;
  cursor: pointer;
}
.btn-for-header {
  /* Specifies the size of the header button */
  border: none;
  width: 150px;
  height: 50px;
}
.btn-for-general {
  /* Specifies the size of the button excluding header button */
  width: 150px;
  height: 40px;
  /* box-shadow: 0.1px 0.1px 20px rgba(130, 133, 131, 0.233); */
}
.btn-with-bg {
  /* For the buttons with background-color 'green' */
  border: none;
  background: #0b993a;
  color: white;
}
.btn-with-bg:hover {
  /* For the buttons with background-color 'green' onhover */
  background: rgba(7, 126, 47, 0.855);
}
.btn-without-bg {
  /* For the buttons without background-color 'green' */
  border: 2px solid #0b993a;
  background-color: white;
  color: #0b993a;
}
.btn-without-bg:hover {
  /* For the buttons without background-color 'green' onhover */
  background-color: #0b993a;
  color: white;
}
img {
  width: 110px;
  height: 110px;
}

/* ==== TITLES SECTION === */
.section-title-div {
  margin-top: 30px;
  position: absolute;
  z-index: -1;
}
.section-title {
  font-size: 260px;
  font-weight: 900;
  color: rgba(11, 153, 58, 0.6);
}
.left-section-title {
  /* For the titles aligned on the left */
  left: -55px;
}
.about-section-title {
  right: -55px;
}
/* ================================= HEADER SECTION ================================ */

header {
  width: 100%;
  height: 100vh;
  background: url(./utilities/zichygraphs/neon\ bg.jpg) no-repeat center/cover;
}

header .intro {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 70px;
  left: 70px;
  width: 450px;
  height: 350px;
}

header .intro p {
  color: white;
  font-size: 3.4rem;
  font-weight: 100;
}

header .intro p .intro-span {
  color: #0fd952;
}

/* ================================= NAVBAR SECTION ================================ */

.navbar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  z-index: 2;
  padding-top: 10px;
}
.navbar::after {
  content: "";
  right: 0;
  position: absolute;
  background-color: rgba(40, 44, 52, 0.733);
  width: 70%;
  height: 80px;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.navbar .logo-div {
  margin-left: 70px;
  margin-top: -16.5px;
}
.navbar .logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.navbar .nav-links {
  position: absolute;
  right: 0;
  display: flex;
  width: 70%;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}

.navbar .nav-links .link {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar .nav-links .link:hover {
  color: #0b993a;
}

.navbarfixed {
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 5;
  box-shadow: 0.1px 0.1px 10px rgba(11, 153, 58, 0.1);
  transition: 0.5s linear;
}

.navbarfixed .logo-div {
  margin-left: 70px;
  color: rgba(11, 153, 58, 0.747);
  font-size: 40px;
  width: 150px;
  object-fit: contain;
  font-family: Exotic350BT-Bold, "Segoe UI", sans-serif;
}

.navbarfixed .nav-links {
  position: absolute;
  right: 0;
  display: flex;
  width: 70%;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}

.navbarfixed .nav-links .link {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: 600;
  color: #0b993a;
  text-transform: uppercase;
  cursor: pointer;
}
.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
/* ================================= FILTER SECTION ================================ */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.filter-btn {
  display: flex;
  width: 70%;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 3px;
  box-shadow: 0.1px 0.1px 10px rgba(11, 153, 58, 0.1);
}
.filter-btn a {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: 600;
  color: #0b993a;
}

.filter-btn a:hover {
  height: 20px;
  border-bottom: 2px solid #0b993a;
}

/* ================================= WORKS SECTION ================================ */

.works {
  width: 100%;
  min-height: 300px;
}

.works-gallery {
  padding-top: 370px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.works-div {
  position: relative;
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0.1px 0.1px 10px rgba(11, 153, 58, 0.1);
}

.works-img {
  width: 250px;
  max-width: 250px;
  height: 250px;
  border-radius: 3px;
  cursor: zoom-in;
}

.works .overlay {
  /* Adds overlay on each work, but not visible because of opacity 0 */
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: zoom-in;
  transition: 0.3s ease;
  background: rgba(14, 13, 13, 0.507);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.works .overlay > div {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 25px;
}

.works .overlay article > p {
  color: white;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 600;
}

.works .overlay article > div {
  width: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.726);
}

.works .overlay .fav-btn-div {
  /* styles the div of the heart icon */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.works-div:hover .overlay {
  /* Increases the opacity of overlay to 1, thereby is visible on the works image */
  opacity: 1;
}

/* ================================= ABOUT SECTION ================================ */
.about-div {
  padding-top: 170px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.about-div article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 50%;
}
.about-div article p {
  margin: 70px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #686e6a;
}
.my-photo-smscrn {
  display: none;
}
.about-div .photo-div {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 500px;
}

.about-div .photo-div div {
  background: url(./utilities/zichygraphs/bird.jpg) no-repeat center/cover;
  width: 88%;
  height: 500px;
  display: flex;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.about-div .photo-div .my-photo {
  transform: translateX(-85px);
  width: 250px;
  max-width: 250px;
  height: 300px;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0.1px 0.1px 10px rgba(11, 153, 58, 0.233);
}

/* ================================= CONTACT SECTION ================================ */
.contact-div {
  background: url(./utilities/zichygraphs/butterfly.jpg) no-repeat center/cover;
  padding-top: 210px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  position: relative;
  mask-image: linear-gradient(
    to top,
    rgba(11, 153, 58, 1),
    rgba(11, 153, 58, 0)
  );
}
.contact-section-title-div {
  position: absolute;
  z-index: 1;
  cursor: default;
}

.contact-bg-para p {
  font-family: Exotic350BT-Bold, "Segoe UI", sans-serif;
  margin-left: 70px;
  color: rgb(255, 255, 255);
  font-size: 5em !important;
}

.contact-bg-para article {
  display: flex;
  height: fit-content;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.contact-bg-para article .social-icon {
  margin: 0 10px;
}

.contact-img {
  height: 400px;
  width: 800px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contact-page {
  width: 50%;
  height: 400px;
  margin-right: 70px;
  box-shadow: 0.1px 0.1px 10px rgba(63, 66, 64, 0.377);
  border-radius: 3px;
  background-color: white;
  position: absolute;
  top: 250px;
  right: 0;

  z-index: 3;
}
.contact-page input,
textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #dfdde0;
  width: "33ch";
}

/* ================================= FOOTER SECTION ================================ */
footer {
  width: 100vw;
  height: 70px;
  /* display: flex;
  justify-content: center; */
}
footer > div {
  width: 97%;
  border-top: 1px solid #686e6a;
  margin: 0 auto;
}
footer div > div {
  margin: 10px 40px;
}

/* ===================================================================================== 


                                      MEDIA QUERIES 


======================================================================================== */

@media screen and (max-width: 360px) {
  /* BUTTONS */
  .btn {
    /* Specifies the properties of all buttons including header button */
    font-weight: 600;
    /* font-size: 20px; */
    border-radius: 3px;
    cursor: pointer;
  }
  .btn-for-header {
    /* Specifies the size of the header button */
    border: none;
    width: 140px;
    height: 40px;
  }
  .btn-for-general {
    /* Specifies the size of the button excluding header button */
    width: 150px;
    height: 40px;
    /* box-shadow: 0.1px 0.1px 20px rgba(130, 133, 131, 0.233); */
  }

  /* HEADER */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
  }
  header .intro {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 20px;
    border-radius: 10px;
    position: static;
    display: flex;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 260px;
  }
  header .intro p {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 10px;
  }

  /* NAVBAR */
  .navbarfixed {
    display: none;
  }
  .navbar {
    display: none;
  }

  /* TITLES */
  .section-title-div {
    margin-top: 40px;
    /* background-color: red; */
  }
  .title .underline {
    width: 100px;
    border-bottom: 4px solid rgba(11, 153, 58, 0.6);
  }
  .line-left {
    height: 4px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .line-right {
    height: 4px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .contact-section-title-div {
    margin-top: 40px;
  }
  .section-title {
    font-size: 60px;
    font-weight: 600;
    color: rgba(11, 153, 58, 0.6);
  }
  .left-section-title {
    /* For the titles aligned on the left */
    left: 0;
  }
  .about-section-title {
    right: 0px;
  }

  /* FILTERS */
  .filter {
    display: none;
    margin-top: 130px;
    width: 100%;
  }
  .filter-btn {
    padding: 0 5px;
  }
  .filter-btn a {
    height: 40px;
    font-size: 0.6rem;
  }

  /* WORKS */
  .works-gallery {
    padding-top: 140px;
  }
  .works-div {
    box-shadow: none;
    margin: 10px;
    padding: 0;
  }
  .works-img {
    width: 100%;
    height: 100%;
  }
  .works .overlay {
    /* Adds overlay on each work, but not visible because of opacity 0 */
    background: linear-gradient(
      transparent 0%,
      rgba(40, 43, 47, 0) 25%,
      rgba(40, 43, 47, 0.15) 60%,
      rgb(40, 43, 47) 90%
    );
    opacity: 1;
  }
  .works .overlay .fav-btn-div {
    /* styles the div of the heart icon */
    height: 0;
    width: 0;
    border-radius: 50%;
    background: none;
  }

  /* ABOUT */
  .about-div {
    padding-top: 120px;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
    margin-bottom: 70px;
  }
  .about-div article {
    background-color: rgba(243, 243, 243, 0.664);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  .about-div article p {
    margin: 30px 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
  }
  .my-photo-smscrn {
    display: initial;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(50%);
  }
  .about-div .photo-div {
    background: none;
    display: none;
  }

  /* CONTACT */
  .contact-div {
    background: url(./utilities/zichygraphs/butterfly.jpg) no-repeat
      center/cover;
    padding-top: 210px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    display: block;
    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    position: relative;
    mask-image: linear-gradient(
      to top,
      rgba(11, 153, 58, 1),
      rgba(11, 153, 58, 0)
    );
  }
  .contact-bg-para p {
    display: none;
  }
  .contact-page {
    margin: 0;
    width: 100%;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
